/* float 해제 */
.clear::after{
    content:'';
    clear: both;
    display:block;
}

/*blind*/
.blind{
    position:absolute;
    width:1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0)
}
